body {
    font-family: Microsoft JhengHei;
    font-size: 14px;
    .changeBtn{
      cursor: pointer;
      font-size: 16px;
      margin-bottom: 10px;
      background: #fe8400;
      color: #FFF;
      width: 120px;
      text-align: center;
      line-height: 35px;
      border-radius:4px;
    }
    .main_container {
      width: 460px;
      .changeMonthBlock{
        background-color:  #ede9dd;
        width: 100%;
        .monthBlock{
          width: calc(100% / 3);
          display: inline-block;
          text-align: center;
          height: 45px;
          line-height: 45px;
          font-size: 16px;
          cursor: pointer;
          &.active{
            color: red;
            background-color: #FFF;
            margin-top: 3px
          }
        }
        .pre, .next{
          color: red;
          cursor: pointer;
          width: 20px;
          float: left;
          cursor: pointer;
          line-height: 48px;
          text-align: center;
        }
        .next{
          float: right;
        }
      }
      .div_table{
          display: table;
          width: 100%;
          border-right: 1px solid #f4f4f4;
          border-bottom: 1px solid #f4f4f4;
          .noTravel{
            display: none
          }
          .div_tr{
            display: table-row;
              .div_td{
                display: table-cell;
                border-left: 1px solid #f4f4f4;
                border-top: 1px solid #f4f4f4;
                height: 85px;
                width: 64px;
                font-size: 12px;
                line-height: 16px;
                position: relative;
                cursor: pointer;
                &.active { 
                  border: 2px solid #66bb3c;
                  background-color: #fff9e3;
                }
                // &:active { 
                //   border: 2px solid #66bb3c;
                //   background-color: #fff9e3;
                // }
                &:hover{
                  background-color: #fff9e3;
                }
                &.first{
                  background-color: #e10500
                }
                &.weekText{
                  cursor: default;
                  text-align: center;
                  border-left: none;
                  height: 30px;
                  line-height: 30px;
                  &:first-child{
                    border-left: 1px solid #f4f4f4;
                  } 
                }
                &.noDay{
                  background-color: #f8f8f8;
                  cursor: default; 
                }
                .right_block{
                  .dayText{
                    padding: 0;
                  }
                  .week_ch{
                    display: none;
                  }
                }
                .content{
                  .status{
                    color:#999;
                    &.o{
                      color : #ff7800;    
                    }
                    &.g{
                      color : #1c9c9d;    
                    }
                  }
                  .availableVancancy,.totalVacnacy{
                    color:#666;
                  }
                  .price{
                    color:#e10500;
                  }
                  .guaranteed{
                    position: absolute;
                    top: 0;
                    right: 0;
                    padding: 0 3px;
                    width: 30px;
                    height: 20px;
                    color: #fff;
                    text-align: center;
                    line-height: 20px;
                    background-color: #fe8400;
                    .no{
                      display: none;
                    }
                  }
                }
              }
          }
          &.selectList{
            display: inline-block;
            // @import 'selectList';
            .noTravel{
              display: block;
              text-align: center;
              font-size: 16px;
              padding: 15px;
            }
            .div_tr{
              display: initial;
              &.weekBlock {
                display: none;
              }
              .div_td{
                width: 100%;
                height: 60px;
                display: block;
                &.noGroup, &.noDay{
                  display: none;
                }
                .right_block{
                  color: #666;
                  text-align: center;
                  font-size: 24px;
                  float: left;
                  padding:4px;
                  .dayText{
                    padding: 10px 0 10px;
                  }
                  .week_ch{
                    display: block;
                    font-size: 14px;
                  }
                }
                .content{
                  display: inline-block;
                  .status{
                    position: absolute;
                    right: 5px;
                    top: 10px;
                    font-size: 14px
                  }
                  .availableVancancy{
                    position: absolute;
                    top: 10px;
                    left: 55px;
                  }
                  .totalVacnacy{
                    position: absolute;
                    right: 280px;
                    top: 10px;
                  }
                  .price{
                    position: absolute;
                    right: 5px;
                    bottom: 10px;
                    font-size: 14px;
                  }
                  .guaranteed{
                    border-radius: 2px;
                    top: 35px;
                    right: initial;
                    left: 55px;
                  }
                }
              }  
            }
          }
      }
    }
  }